@model pc2.Models.Cliente

@{
	ViewData["Title"] = "Formulario";
}

<div class="container">
	<h1 class="text-center mb-4">Formulario de Cliente</h1>
	<div class="row justify-content-center">
		<div class="col-md-6">
			<form asp-controller="Cliente" asp-action="Enviar" method="post">
				<div class="form-group">
					<label class="control-label">Nombre</label>
					<input asp-for="Nombre" class="form-control" required>
				</div>
				<br>
				<div class="form-group">
					<label class="control-label">Correo</label>
					<input asp-for="Email" class="form-control" type="email" required>
				</div>
				<br>
				<div class="form-group">
					<label class="control-label">Tipo de Cuenta</label>
					<select asp-for="TipoCuenta" class="form-control">
						<option value="Crédito" selected>Crédito</option>
						<option value="Débito">Débito</option>
					</select>
				</div>
				<br>
				<div class="form-group">
					<label class="control-label">Saldo Inicial</label>
					<input asp-for="SaldoInicial" class="form-control" type="number" step="0.01" required>
				</div>
				<br>
				<div class="form-group text-center">
					<button type="submit" class="btn btn-primary">Enviar</button>
				</div>
			</form>
			<h2>@ViewData["Message"]</h2>
			<div>
				<a asp-action="List">Ver Listado</a>
			</div>
		</div>
	</div>
</div>